@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* stylesheet starts here */

.wrapper{
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 860px;
  margin: 0 auto;
  padding: 30px;
}

/* header section starts here */

header .wrapper{
  box-shadow: 0px 10px 10px 0px #88888833 inset;
}

.menu{
  padding: 20px 20px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu h1 a{
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.menu h1 a:hover, .menu ul li:hover{
  color: cyan;
  transition: 1s;
}

header nav ul{
  display: flex;
}

header nav ul li{
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

header nav ul li::first-letter{
  font-size: 20px;
}

header nav ul li:nth-child(2){
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
}
/* header section ends here */

/* priorities section starts here */

.priorities .wrapper{
  padding: 0 30px;
}

.priorities h4{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px 20px 20px;
}

.priorities h4::first-letter{
  font-size: 18px;
}

.priorities span{
  font-size: 18px;
}

.priorities_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 40px 30px;
}

.each_priority{
  border: 1px solid black;
  flex-basis: 29%;
  text-align: center;
  border-radius: 10px;
  height: 300px;
}

.each_priority h4{
  position: relative;
  right: 2px;
  bottom: 2px;
  border-radius: 10px 10px 0 0;
  width: 84.5%;
}

.each_priority:first-child h4{
  background-color: red;
}

.each_priority:nth-child(2) h4{ 
  background-color: orangered;
}

.each_priority:nth-child(3) h4{
  background-color: yellow;
}

.each_priority h4{
  padding: 20px;
}

.task_section{
  padding: 0 30px;
}

.task_section ul{
  display: flex;
  align-items: center;
}

.task_section li{
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase ;
  margin-right: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.task_section li::first-letter{
  font-size: 18px;
}

/* priorities section ends here */